.header-style {
	color: black !important;
	background-color: #c6c6c6 !important;
}

.about-container {
    width: auto !important;
    margin: 5% 2% 2% 2%;
}

.custom-a-tag {
    text-decoration: none;
    color: inherit;
}